body {

}

#map {
	position:absolute;
	top: 0px;
	left: 0px;
	height: 100%;
	width: 100%;
}

#reunion {
	position:absolute;
	top: 0px;
	right: 0px;
	height: 33%;
	width: 33%;
	border: 3px solid white;
}

#label_reu {
	position:absolute;
	bottom: 2px;
	left: 20px;
	right:20px;
	color: white;
	text-align: center;
	vertical-align: bottom;
}

h3 {
	text-align: center;
	vertical-align: bottom;
}
